{% extends "base.html" %}
{% block title %}Contact | Kahuta Knights{% endblock %}
{% block content %}

<section class="page-hero">
  <h1>Contact</h1>
  <p>Questions about trials, sponsorship, or joining the roster? Reach out.</p>
</section>

<section class="section contact-section">
  <div class="contact-grid">
    <div class="contact-card">
      <h3>Phone</h3>
      <p><a href="tel:03448583226">0344 8583226 Abdullah</a></p>
      <p><a href="tel:03433408358">0343 3408358 Zain</a></p>
    </div>
    <div class="contact-card">
      <h3>Payment / Registration Fee</h3>
      <p>Easypaisa <br>0344 8583226 <br>Abdullah Jan Sani</p><br>
      <p>Jazz Cash <br>0327 2732736 <br>MUHAMMAD ZAIN</p>
    </div>
    <div class="contact-card">
      <h3>Location</h3>
      <p>International Fitness Tycon Gym, Motor Chowk, Kahuta, Rawalpindi, Punjab, Pakistan</p>
    </div>
    <div class="contact-card">
      <h3>Follow</h3>
      <p>Instagram-><a href="https://www.instagram.com/kahuta_knights/">Kahuta Knights</a></p>
      <p>Youtube-><a href="https://www.youtube.com/@KahutaKnights94">Kahuta Knights</a></p>
      <p>TikTok-><a href="https://www.tiktok.com/@kahutaknights?_r=1&_t=ZN-98Qx8N8E751">Kahuta Knights</a></p>
    </div>
    </div>
    </div>
  </div>
</section>

{% endblock %}
